@model TopMenuModel

@functions {
    async Task CategoryLine(TopMenuModel.CategoryLineModel lineModel)
    {
        <li class="menu-item">
            <a href="@Url.RouteUrl("Category", new { SeName = lineModel.Category.SeName })">
                @lineModel.Category.Name
                @if (lineModel.Category.NumberOfProducts.HasValue)
                {
                    <text> </text>

                    @T("Categories.TotalProducts", lineModel.Category.NumberOfProducts.Value)
                }
            </a>
            @{
                //subcategories
                var subCategories = lineModel.ResponsiveMobileMenu ?
                //responsive (all categories)
                lineModel.Category.SubCategories :
                //standard design (only categories with "IncludeInTopMenu")
                lineModel.Category.SubCategories.Where(x => x.IncludeInTopMenu).ToList();

                var levelClass = "";
                if (lineModel.Level == 0)
                {
                    levelClass = "first-level";
                }
                if (subCategories.Count > 0)
                {
                    <div class="sublist-toggle"></div>
                    <ul class="dropdown-submenu sub-menu @levelClass">
                        @foreach (var subCategory in subCategories)
                        {
                            var categoryLineModel = new TopMenuModel.CategoryLineModel
                    {
                        Category = subCategory,
                        Level = lineModel.Level + 1,
                        ResponsiveMobileMenu = lineModel.ResponsiveMobileMenu
                    };
                            await CategoryLine(categoryLineModel);
                        }
                    </ul>
                }
            }
        </li>
    }
}


<div class="navbar">
    <div class="container">
        <div class="horizantal-menu">
            <ul class="menu">
                <li class="menu-item menu-item-has-children">
                    <a class="font-medium text-black" href="/GetToKnow">
                        @T("topMenu.KnowUs")
                        <i class="fas fa-solid fa-chevron-down" aria-hidden="true"></i>
                    </a>


                </li>
                <li class="menu-item menu-item-has-children">
                    <a class="font-medium text-black" href="/OurSolution">
                        @T("topMenu.OurSolutions")
                        <i class="fas fa-solid fa-chevron-down" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a class="font-medium text-black" href="#">
                        @T("topMenu.Operations")
                        <i class="fas fa-solid fa-chevron-down" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a class="font-medium text-black" href="#">
                        @T("topMenu.DropShipping")
                        <i class="fas fa-solid fa-chevron-down" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="font-medium text-black" href="/Auction">@T("topMenu.Auctions")</a>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a class="font-medium text-black" href="/Shop">
                        @T("topMenu.B2BShop")
                        <i class="fas fa-solid fa-chevron-down" aria-hidden="true"></i>
                    </a>

                    <div class="mega-menu-wrap">
                        <div class="mega-menu-products-inners container">
                            <ul class="top-menu">

                                <li class="top-menu-item">
                                    <a href="#">
                                        @T("topMenu.B2BShop.AllCategories")
                                        <i class="fas fa-solid fa-chevron-down" aria-hidden="true"></i>
                                    </a>
                                    <div class="menu-children">
                                    <div class="product-menu-item">
                                    
                                    <ul class="top-1v1-menu list-unstyled">
                                        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMenuBefore, additionalData = Model })
                                        @if (Model.DisplayHomepageMenuItem)
                                        {
                                            <li><a href="@Url.RouteUrl("Homepage")">@T("Homepage")</a></li>
                                        }
                                        @if (!Model.UseAjaxMenu)
                                        {
                                            var rootCategories = Model.Categories.Where(x => x.IncludeInTopMenu).ToList();
                                            @foreach (var category in rootCategories)
                                            {
                                                var categoryLineModel = new TopMenuModel.CategoryLineModel
                                                {
                                                    Category = category
                                                };
                                                await CategoryLine(categoryLineModel);
                                            }

                                        }
                                    </ul>
                                    </div>
                                    </div>
                                </li>
                                <li class="top-menu-item">
                                    <a href="/Shop">@T("topMenu.B2BShop.HotDeals")</a>
                                </li>
                                <li class="top-menu-item">
                                    <a href="/Shop">@T("topMenu.B2BShop.TopSellings")</a>
                                </li>
                                <li class="top-menu-item">
                                    <a href="/Shop">@T("topMenu.B2BShop.SeeAll")</a>
                                </li>
                                <li class="top-menu-item">
                                    <a href="/Shop"></a>
                                </li>
                                <li class="top-menu-item">
                                    <a href="/Shop"></a>
                                </li>
                                <li class="top-menu-item">
                                    <a href="/Shop"></a>
                                </li>
                                <li class="top-menu-item">
                                    <a href="/Shop"></a>
                                </li>
                                <li class="top-menu-item">
                                    <a href="/Shop"></a>
                                </li>
                                <li class="top-menu-item">
                                    <a href="/Shop"></a>
                                </li>
                                <li class="top-menu-item">
                                    <a href="/Shop"></a>
                                </li>
                                <li class="top-menu-item">
                                    <a href="/Shop"></a>
                                </li>
                                <li class="top-menu-item">
                                    <a href="/Shop"></a>
                                </li>
                                <li class="top-menu-item">
                                    <a href="/Shop"></a>
                                </li>
                                <li class="top-menu-item">
                                    <a href="/Shop"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mobile-display">
            <div class="toggle-nav-menu" id="toggle-menu">
                <div class="burg-icon">
                    <div class="burg"></div>
                </div>
            </div>


            <form class="products-search">
                <div class="psearch-content">
                    <div class="product-cat">
                        <div class="product-cat-label">All</div>
                        <select name="product-cat" id="" class="product-cat-dd">
                            <option value="0" selected="selected">All</option>
                            //<option class="level-0" value="clothing-apparel">Clothing &amp; Apparel</option>
                            //<option class="level-1" value="accessories-clothing-apparel">&nbsp;&nbsp;&nbsp;Accessories</option>
                        </select>
                    </div>
                    <div class="search-wrapper">
                        <input type="text" name="s" class="search-field" autocomplete="off" placeholder="rechercher...">
                    </div>
                    <div class="search-btn">
                        <a class="submit-btn" href="#"><i class="fas fa-search" aria-hidden="true"></i></a>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>