@using Nop.Web.Models.Catalog;
@using System.Globalization
@using Nop.Core.Domain
@using Nop.Core.Domain.Localization
@using Nop.Services.Customers
@using Nop.Services.Helpers
@using Nop.Services.Security
@using Nop.Web.Framework.UI
@inject IDateTimeHelper dateTimeHelper
@using Nop.Core.Domain.Orders
@model Nop.Web.Models.Discounts.ProductsDealModel

@{
    var selectedProduct = Model.SelectedProduct;
}

<section class="container deals">
    <div class="row ">
        <div class="col-md-8 col-sm-8 left-section">
            <div class="product-title">
                <div class="head">
                    <div class="title-sec ">
                        <h4 class="text-black text-left">
                            @T("shop.DealOfDay")
                        </h4>
                        <span class="line-after"></span>
                    </div>
                </div>

                <form asp-route="Product" asp-route-sename="@selectedProduct.SeName" method="post" id="product-details-form">
                    <div class="row product-section">

                        <div class="col-md-6 left-section">
                            <div class="row img-product">
                                @if (selectedProduct.PictureModels.Count > 1)
                                {
                                    <link rel="stylesheet" href="~/lib_npm/magnific-popup/magnific-popup.css" />
                                    <script asp-exclude-from-bundle="true" src="~/lib_npm/magnific-popup/jquery.magnific-popup.min.js" asp-location="Footer"></script>
                                    <div class="col-md-3 secon-img picture-thumbs">
                                        @foreach (var picture in selectedProduct.PictureModels)
                                        {
                                            <a class="thumb-item" href="@picture.FullSizeImageUrl" alt="@picture.AlternateText" title="@picture.Title">
                                                <img src="@picture.ThumbImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" />
                                            </a>
                                        }
                                    </div>
                                    <script asp-location="Footer">
                                        $(document).ready(function () {
                                            $('.picture-thumbs').magnificPopup(
                                                {
                                                    type: 'image',
                                                    delegate: 'a',
                                                    removalDelay: 300,
                                                    gallery: {
                                                        enabled: true,
                                                        navigateByImgClick: true,
                                                        preload: [0, 1],
                                                        tPrev: '@T("Media.MagnificPopup.Previous")',
                                                        tNext: '@T("Media.MagnificPopup.Next")',
                                                        tCounter: '@T("Media.MagnificPopup.Counter")'
                                                    },
                                                    tClose: '@T("Media.MagnificPopup.Close")',
                                                    tLoading: '@T("Media.MagnificPopup.Loading")'
                                                });
                                        });
                                    </script>
                                    <script asp-location="Footer">
                                        $(document).ready(function () {
                                            $('.thumb-item > img').on('click',
                                                function () {
                                                    $('#main-product-img-@Model.Id').attr('src', $(this).attr('data-defaultsize'));
                                                    $('#main-product-img-@Model.Id').attr('title', $(this).attr('title'));
                                                    $('#main-product-img-@Model.Id').attr('alt', $(this).attr('alt'));
                                                    $('#main-product-img-lightbox-anchor-@Model.Id').attr('href', $(this).attr('data-fullsize'));
                                                    $('#main-product-img-lightbox-anchor-@Model.Id').attr('title', $(this).attr('title'));
                                                });
                                        });
                                    </script>
                                }
                                <div class="col-md-9 main-img">
                                    <a href="@selectedProduct.DefaultPictureModel.FullSizeImageUrl" title="@selectedProduct.DefaultPictureModel.Title" id="main-product-img-lightbox-anchor-@Model.Id">
                                        <img alt="@selectedProduct.DefaultPictureModel.AlternateText" src="@selectedProduct.DefaultPictureModel.ImageUrl" title="@selectedProduct.DefaultPictureModel.Title" id="main-product-img-@selectedProduct.Id"  />
                                    </a>
                                    <script asp-location="Footer">
                                        $(document).ready(function () {
                                            $('#main-product-img-lightbox-anchor-@Model.Id').magnificPopup({ type: 'image' });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 product-deals">

                            <div class="product-page bottom-info-deals">
                                <div class="product-info">
                                    <div title="@selectedProduct.Name" class="title-product text-left">
                                        <a href="@Url.RouteUrl("Product", new { SeName = selectedProduct.SeName })" title="@selectedProduct.DefaultPictureModel.Title">
                                            @selectedProduct.Name
                                        </a>
                                    </div>
                                    <div class="info-product">
                                        <div class="price">
                                            <h3 class="text-left">
                                                @if (!string.IsNullOrEmpty(@selectedProduct.ProductPrice.OldPrice))
                                                {
                                                    <p class="old-price">@selectedProduct.ProductPrice.OldPrice</p>
                                                    <p> - </p>
                                                }
                                                @selectedProduct.ProductPrice.Price
                                            </h3>
                                        </div>
                                        @if (@Model.Discount.EndDateUtc.HasValue)
                                        {
                                            <div class="date">
                                                @T("shop.OffreEndDate")
                                                <span class="number-days font-medium">
                                                    @((await dateTimeHelper.ConvertToUserTimeAsync(Model.Discount.EndDateUtc.Value)).ToString("f", CultureInfo.CurrentCulture))
                                                </span>
                                            </div>
                                        }
                                        <!--product reviews-->
                                        @await Html.PartialAsync("_ProductReviewOverview", Model.SelectedProduct.ProductReviewOverview)
                                        <!--attributes-->
                                        @{
                                            var dataDictAttributes = new ViewDataDictionary(ViewData);
                                            dataDictAttributes.TemplateInfo.HtmlFieldPrefix = $"attributes_{Model.SelectedProduct.Id}";
                                            @await Html.PartialAsync("_ProductAttributes", Model.SelectedProduct, dataDictAttributes)
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    @{
                                        var dataDictAddToCart = new ViewDataDictionary(ViewData);
                                        dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = $"addtocart_{selectedProduct.Id}";
                                        Model.AddToCart.ProductId = selectedProduct.Id;
                                        Model.AddToCart.EnteredQuantity = 1;
                                        @await Html.PartialAsync("_AddToCart", Model.AddToCart, dataDictAddToCart)
                                        ;
                                        var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = 1 });
                                    }
                                </div>

                                <div class="row">
                                    <div class="col-md-6 social-media-icon">
                                        <div class="social-media">
                                        </div>
                                    </div>
                                    <div class="col-md-6 wishlist-icon">
                                        @{
                                            var dataDictAddToWishlist = new ViewDataDictionary(ViewData);
                                            dataDictAddToWishlist.TemplateInfo.HtmlFieldPrefix = $"addtocart_{selectedProduct.Id}";
                                            @await Html.PartialAsync("_AddToWishlist", selectedProduct.AddToCart, dataDictAddToWishlist)
                                        }
                                        <a href="#" class="wishlist" onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink');return false;">
                                            <i class='fa fa-heart'></i>
                                        </a>
                                        <span class="font-light" onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink');return false;">@T("ShoppingCart.AddToWishlist")</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 navbar right-section">

            <div class="row ">
                <div class="head">
                    <div class="title-sec">
                        <h4 class="text-black text-left">
                            @T("shop.DealOfDay")
                        </h4>
                        <span class="line-after"></span>
                    </div>
                </div>
                 <div class="product-deals">
                    @if (Model.Products.Count() > 0)
                    {
                        foreach (var product in Model.Products.Where(p => p.Id != selectedProduct.Id))
                        {
                            <div onMouseOver="this.style.cursor='pointer'" class="content-navbar" onclick="SelectDealOfTheDayProduct(@product.Id)">
                                <div class="img">
                                    <img alt="@product.Name" src="@product.DefaultPictureModel.ImageUrl">
                                </div>
                                <div class="product-info">
                                    <div title="@product.Name" class="title font-normal">
                                        <a href="@Url.RouteUrl("Product", new { SeName = product.SeName })" title="@product.DefaultPictureModel.Title">
                                            @product.Name
                                        </a>
                                    </div>
                                    <!--product reviews-->
                                    @await Html.PartialAsync("_ProductReviewOverview", product.ReviewOverviewModel)
                                    <div class="price font-normal text-uppercase">
                                        @product.ProductPrice.Price
                                    </div>
                                </div>
                            </div>
                        }
                    }
                 </div>
            
            </div>
        </div>
    </div>

</section>
<script>
    function SelectDealOfTheDayProduct(productId) {

        var postData = { "selectedProductId": productId };

        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("LoadDealOfTheDayComponent", "Shop"))",
            data: postData,
            error: function (jqXHR, textStatus, errorThrown) {
                showAlert('showProduct', errorThrown);
            },
            success: function (data, textStatus, jqXHR) {

                $('#shopPageDealOfDayContainer').html(data);
            }
        });
    }

</script>
