<div class="container">
<section class=" services">
    <div class="row">
        <div class="col-md-3 col-sm-6 content-service">
            <img alt="" class="icon-service" src="./assets/img/services/free-shepping.png">
            <div class="desc-service">
                <div class="title font-semibold text-capitalize">
                    @T("shop.FreeShipping")
                </div>
                <p class="font-light">@T("shop.FreeShipping.Detail")<span class="text-uppercase">SAR</span></p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 content-service">
            <img alt="" class="icon-service" src="./assets/img/services/payement.png">
            <div class="desc-service">
                <div class="title font-semibold text-capitalize">
                    @T("shop.SecurePayment")
                </div>
                <p class="font-light">@T("shop.SecurePayment.Detail")</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 content-service">
            <img alt="" class="icon-service" src="./assets/img/services/money-back.png">
            <div class="desc-service">
                <div class="title font-semibold text-capitalize">
                    @T("shop.BackGuarantee")
                </div>
                <p class="font-light">@T("shop.BackGuarantee.Detail")</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 content-service">
            <img alt="" class="icon-service" src="./assets/img/services/customer.png">
            <div class="desc-service">
                <div class="title font-semibold text-capitalize">
                    @T("shop.CustomerSupport")
                </div>
                <p class="font-light">@T("shop.CustomerSupport.Detail")</p>
            </div>
        </div>
    </div>
</section>
</div>